In [1]:

from dotenv import load_dotenv
import os
import pandas as pd
import sqlalchemy

pd.set_option('display.max_columns', None)
load_dotenv()


sqlalchemy.create_engine(os.environ["DATABASE_URL"])

%load_ext sql

print(" inline sql successfully connected")

 inline sql successfully connected

### is Enrichment providing Geographical data ?

In [2]:
%%sql
select 
attributes -> 'country' ->> 'enrichment' enrich_country
from members 
group by 1

2 rows affected.

[(None,), ('United States',)]

In [3]:
%%sql
select 
members.attributes -> 'country' ->> 'enrichment' enrich_country,
count(*) tt
from activities 
left join members on activities."memberId" = members.id 
where activities."tenantId" = 'ccff5355-cf54-40a1-9a2e-8e4a447ae73a'
and activities."isContribution" = true
and activities.timestamp > current_date - interval '7 days' 
group by 1

*  postgresql://crowd:***@127.0.0.1:5000/crowd
1 rows affected.

[(None, 30)]

In [4]:
%%sql
select 
date_trunc('year', activities.timestamp) as day,
members.attributes -> 'country' ->> 'enrichment' as enrich_country,
count(*) tt
from activities 
left join members on activities."memberId" = members.id 
where activities."tenantId" = 'ccff5355-cf54-40a1-9a2e-8e4a447ae73a'
and activities."isContribution" = true
and members.attributes -> 'country' ->> 'enrichment' is not null
group by 1,2
order by 1 desc

*  postgresql://crowd:***@127.0.0.1:5000/crowd
5 rows affected.

[(datetime.datetime(2023, 1, 1, 0, 0, tzinfo=datetime.timezone.utc), 'United States', 344),
 (datetime.datetime(2022, 1, 1, 0, 0, tzinfo=datetime.timezone.utc), 'United States', 461),
 (datetime.datetime(2021, 1, 1, 0, 0, tzinfo=datetime.timezone.utc), 'United States', 1645),
 (datetime.datetime(2020, 1, 1, 0, 0, tzinfo=datetime.timezone.utc), 'United States', 3979),
 (datetime.datetime(2019, 1, 1, 0, 0, tzinfo=datetime.timezone.utc), 'United States', 977)]

## Most recent activity repository

In [5]:
%%sql
select 
members.attributes -> 'country' ->> 'enrichment' as enrich_country,
channel,
timestamp
from activities 
left join members on activities."memberId" = members.id 
where activities."tenantId" = 'ccff5355-cf54-40a1-9a2e-8e4a447ae73a'
and activities."isContribution" = true
and members.attributes -> 'country' ->> 'enrichment' is not null
and timestamp > current_date - interval '2 months'
order by timestamp desc
limit 10

*  postgresql://crowd:***@127.0.0.1:5000/crowd
10 rows affected.

[('United States', 'https://github.com/communitybridge/easycla', datetime.datetime(2023, 4, 6, 18, 45, 1, tzinfo=datetime.timezone.utc)),
 ('United States', 'https://github.com/communitybridge/easycla', datetime.datetime(2023, 4, 3, 20, 21, 8, tzinfo=datetime.timezone.utc)),
 ('United States', 'https://github.com/communitybridge/easycla', datetime.datetime(2023, 3, 27, 20, 52, 26, tzinfo=datetime.timezone.utc)),
 ('United States', 'https://github.com/communitybridge/easycla', datetime.datetime(2023, 3, 27, 20, 52, 26, tzinfo=datetime.timezone.utc)),
 ('United States', 'https://github.com/communitybridge/easycla', datetime.datetime(2023, 3, 27, 18, 45, 12, tzinfo=datetime.timezone.utc)),
 ('United States', 'https://github.com/communitybridge/easycla', datetime.datetime(2023, 3, 27, 18, 36, 56, tzinfo=datetime.timezone.utc)),
 ('United States', 'https://github.com/communitybridge/easycla', datetime.datetime(2023, 3, 27, 18, 36, 56, tzinfo=datetime.timezone.utc)),
 ('United States', 'https://github.com/communitybridge/easycla', datetime.datetime(2023, 3, 27, 18, 36, 47, tzinfo=datetime.timezone.utc)),
 ('United States', 'https://github.com/communitybridge/easycla', datetime.datetime(2023, 3, 27, 16, 34, 12, tzinfo=datetime.timezone.utc)),
 ('United States', 'https://github.com/communitybridge/easycla', datetime.datetime(2023, 3, 27, 16, 34, 12, tzinfo=datetime.timezone.utc))]

In [9]:
%%sql
select 
DISTINCT ON(enrich_country)
members.attributes -> 'country' ->> 'enrichment' as enrich_country,
timestamp
channel,
from activities 
left join members on activities."memberId" = members.id 
where activities."tenantId" = 'ccff5355-cf54-40a1-9a2e-8e4a447ae73a'
and activities."isContribution" = true
and members.attributes -> 'country' ->> 'enrichment' is not null
and timestamp > current_date - interval '2 months'
order by 1,2 desc
limit 10

*  postgresql://crowd:***@127.0.0.1:5000/crowd
(psycopg2.errors.SyntaxError) syntax error at or near "from"
LINE 6: from activities
        ^

[SQL: select
DISTINCT ON(enrich_country)
members.attributes -> 'country' ->> 'enrichment' as enrich_country,
timestamp
channel,
from activities
left join members on activities."memberId" = members.id
where activities."tenantId" = 'ccff5355-cf54-40a1-9a2e-8e4a447ae73a'
and activities."isContribution" = true
and members.attributes -> 'country' ->> 'enrichment' is not null
and timestamp > current_date - interval '2 months'
order by 1,2 desc
limit 10]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [10]:
%%sql
select 
DISTINCT ON(enrich_country)
members.attributes -> 'country' ->> 'enrichment' as enrich_country,
timestamp,
channel
from activities 
left join members on activities."memberId" = members.id 
where activities."tenantId" = 'ccff5355-cf54-40a1-9a2e-8e4a447ae73a'
and activities."isContribution" = true
and members.attributes -> 'country' ->> 'enrichment' is not null
and timestamp > current_date - interval '2 months'
order by 1,2 desc
limit 10

*  postgresql://crowd:***@127.0.0.1:5000/crowd
1 rows affected.

[('United States', datetime.datetime(2023, 4, 6, 18, 45, 1, tzinfo=datetime.timezone.utc), 'https://github.com/communitybridge/easycla')]